<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p>Title</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            
            <div id="container" style="padding: 0px;">
                
            </div>
            <button id="button" class="autocompare">Random chart</button>
Color: <select id="myselect">
    <option value="green">green</option>
    <option value="red">red</option>
    <option value="blue">blue</option>
</select>
        </div>
    </div>
</div>
