<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p>Title</p>
                </div>
            </div>
        </div> -->
        <div class="col-12">
            <!-- <select id="myselect">
                <option value="green">green</option>
                <option value="red">red</option>
                <option value="blue">blue</option>
            </select> -->
            <input ngxDaterangepickerMd [(ngModel)]="selected" class="form-control" style="width: 250px;"/>
            <div id="container" style="padding: 0px; width: 90%">
                
            </div>
            
        </div>
        
    </div>
</div>

<!-- <div class="boxChart__container">
    <div>
      <highcharts-chart
        id="container"
        [Highcharts]="Highcharts"
        [constructorType]="chartConstructor"
        [options]="chartOptions"
        [callbackFunction]="chartCallback"
        [(update)]="updateFromInput"
        [oneToOne]="true"
        style="width: 100%; height: 400px; display: block;"
      >
      </highcharts-chart>
  
      <button (click)="setExtremes()">Set chart extremes</button>
    </div>
  </div>
   -->