<nav class="navbar navbar-expand-lg navbar-dark bg-white">
  <div class="container-fluid">
    <div class="navbar-header">
      <img id="netCore" src="../../assets/images/netcore.svg" />
    </div>
    <div class="collapse navbar-collapse">
      <div class="input-group">
        <div class="input-icons">
          <img id="search" src="../../assets/images/searchicon.svg" />
          <input class="form-control" type="text" placeholder="Search..." />
        </div>
      </div>

      <div ngbDropdown>
        <img src="../../assets/images/fi.svg" />
        <a id="gfg" ngbDropdownToggle>Current User</a>
        <div ngbDropdownMenu="gfg">
          <button ngbDropdownItem>detail1</button>
          <button ngbDropdownItem>detail1</button>
          <button ngbDropdownItem>detail1</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div
  class="
    side-navbar
    active-nav
    d-flex
    justify-content-between
    flex-wrap flex-column
  "
  id="sidebar"
>
  <ul class="nav flex-column text-white w-100" id="Ul">
    <li>
      <img id="customer" src="../../assets/images/business.svg" />
      <a href="#" id="customertxt" class="nav-link p text-white">Cutomers </a>
    </li>
    <br />

    <h4>DashBoard</h4>

    <li>
      <img id="datahealth" src="../../assets/images/dataH.svg" />

      <a href="#" id="datahealthtxt" class="nav-link p text-white"
        >Data Health
      </a>
    </li>

    <li>
      <img id="business" src="../../assets/images/customer.svg" />
      <a href="#" id="businesstxt" class="nav-link p text-white"
        >Business Insights
      </a>
    </li>
    <br />
  </ul>
</div>

<!-- <router-outlet></router-outlet> -->
