<!-- <div class="container-fluid"style = "width: 100% ; "> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-white">
  <div class="container-fluid" style="width: 100%">
    <div class="navbar-header">
      <img
        src="../../assets/images/netcore.svg"
        style="width: 250px; height: 23px; top: 10px; left: 25px"
      />
      <!-- <a routerLink="/" class="navbar-brand" 
            style="color: black; font-size: large; font-weight: bold; font-style: italic;">netCore</a> -->
    </div>
    <div class="collapse navbar-collapse">
      <div class="input-group">
        <div class="input-icons">
          <img
            src="../../assets/images/searchicon.svg"
            style="position: absolute; top: 9px; left: 2px"
          />
          <input
            class="form-control"
            type="text"
            placeholder="Search..."
            style="padding-left: 30px; font-size: 14px"
          />
        </div>
      </div>

      <div ngbDropdown>
        <img src="../../assets/images/fi.svg" />
        <a id="gfg" ngbDropdownToggle>Current User</a>
        <div ngbDropdownMenu="gfg">
          <button ngbDropdownItem>detail1</button>
          <button ngbDropdownItem>detail1</button>
          <button ngbDropdownItem>detail1</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div
  class="
    side-navbar
    active-nav
    d-flex
    justify-content-between
    flex-wrap flex-column
  "
  id="sidebar"
  style="height: 115%"
>
  <ul class="nav flex-column text-white w-100" style="margin-top: 20px;">
    <li>
      <img
        src="../../assets/images/business.svg"
        style="
          position: absolute;
          left: 2.5%;
          right: 2.98%;
          top: 4%;
          bottom: 21.01%;

          border: 1px solid #143f93;
        "
      />
      <a href="#" class="nav-link p text-white">Cutomers </a>
    </li>
    <br />
    <li>
      <h4>DashBoard</h4>
    </li>

    <li>
      <img
        src="../../assets/images/dataH.svg"
        style="
          position: absolute;
          left: 2.5%;
          right: 2.98%;
          top: 18%;
          bottom: 21.01%;

          border: 1px solid #143f93;
        "
      />

      <a href="#" class="nav-link p text-white">Data Health </a>
    </li>

    <li>
      <img
        src="../../assets/images/customer.svg"
        style="
          position: absolute;
          left: 2.5%;
          right: 2.98%;
          top: 25%;
          bottom: 21.01%;

          border: 1px solid #143f93;
        "
      />
      <a href="#" class="nav-link p text-white">Business Insights </a>
    </li>
    <br />
  </ul>
</div>

<!-- <router-outlet></router-outlet> -->
