.navbar.navbar-expand-lg.navbar-dark.bg-white {
  height: 50px;

  box-shadow: 0 2px 5px grey;
}
.container-fluid {
  width: 100%;
}
#netCore {
  width: 250px;
  height: 23px;
  top: 10px;
  left: 25px;
}
#search {
  position: absolute;
  top: 9px;
  left: 2px;
}

h4 {
  margin-left: 10px;
  font-size: 16px;

  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
}
.nav-link {
  font-size: 16px;

  font-style: normal;
  font-weight: normal;
  margin-left: 25px;
}
.mx-2 {
  color: white;
}
/* li:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: grabbing;
  
  background: #F4F8FF;
  border-radius: 10px 0px 0px 10px;
  color: #143F93 !important;
  
} */
.collapse.navbar-collapse {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn.btn-warning {
  position: absolute;
  top: -15px;
  right: 0;
}
.btn.btn-outline-secondary {
  height: 20%;
}
.form-control {
  border-radius: 3px 3px;
  padding-left: 30px;
  font-size: 14px;
}
#Ul {
  margin-top: 20px;
}
#customer {
  position: absolute;
  left: 2.5%;
  right: 2.98%;
  top: 48px;

  margin-left: 25px;
  border: 1px solid #143f93;
}
h4 {
  margin-left: 28px;
}
#datahealthtxt {
  margin-top: 5px;
}
#datahealth {
  position: absolute;
  left: 2.5%;
  right: 2.98%;
  top: 144px;

  margin-left: 25px;
  border: 1px solid #143f93;
}
#businesstxt {
  margin-top: 5px;
}
#business {
  position: absolute;
  left: 2.5%;
  right: 2.98%;
  top: 190px;

  margin-left: 25px;
  border: 1px solid #143f93;
}
#customertxt {
  margin-top: 20px;
}
.side-navbar {
  width: 240px;
  height: 120%;
  flex: content;
  position: absolute;
  margin-left: -300px;
  background-color: rgba(20, 63, 147, 1);
  transition: 0.5s;
}


/* li:focus {
  background: #F4F8FF;
border-radius: 10px 0px 0px 10px;
color: #143F93 !important;

} */
li:focus {
  outline:solid 1px black;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

.input-group {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
li {
  margin-left: 25px;
}
/* img {
  margin-left: 5px;
} */
@media screen and (max-width: 500px) {
  .navbar.navbar-expand-lg.navbar-dark.bg-light {
    float: none;
    display: block;
    text-align: left;
  }
}
