.navbar.navbar-expand-lg.navbar-dark.bg-white {
  height: 50px;

  box-shadow: 0 2px 5px grey;
}
h4 {
  margin-left: 10px;
  font-size: 16px;

  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
}
.nav-link {
  font-size: 16px;

  font-style: normal;
  font-weight: normal;
  margin-left: 25px;
}
.mx-2 {
  color: white;
}
li:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: grabbing;
  background-color: lightblue !important;
}
.collapse.navbar-collapse {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn.btn-warning {
  position: absolute;
  top: -15px;
  right: 0;
}
.btn.btn-outline-secondary {
  height: 20%;
}
.form-control {
  border-radius: 3px 3px;
}
.side-navbar {
  width: 240px;
  height: 120%;
  flex: content;
  position: absolute;
  margin-left: -300px;
  background-color: rgba(20, 63, 147, 1);
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

/* .my-container {
    transition: 0.4s;
  }
   */
.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

/* #menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
  } */
.input-group {
  /* display: block; */
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
}
li {
  margin-left: 25px;
}
img {
  margin-left: 5px;
}
@media screen and (max-width: 500px) {
  .navbar.navbar-expand-lg.navbar-dark.bg-light {
    float: none;
    display: block;
    text-align: left;
  }
}
