#containerSc{
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 0px;

}
.card{
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 0px ;
    border-radius: 0px;

}
.container-fluid{
    padding: 0px;
    
}
.row{
    padding: 0px;
}
h3{
    font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
/* identical to box height */

letter-spacing: 0.416667px;

/* Font-0 */

color: #17173A;
}
/* .col-12{
    padding: 0px;
} */