<div class="container-fluid" style="margin-left: 20px">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h3>Total Connections</h3>
          <img
            id="tooltip"
            src="https://cdn3.iconfinder.com/data/icons/ui-ux-circles-1/24/info-circle-512.png"
            data-toggle="tooltip"
            data-placement="bottom"
            ngbTooltip="Data info tooltip"
          />

          <img id="kebab" [src]="kebab" />
          <hr  />
          <div class="row">
            <div class="col-4">
              <label>Date Range</label>
              <input
                id="input"
                ngxDaterangepickerMd
                [(ngModel)]="selected"
                class="form-control"
                [ranges]="ranges"
                [alwaysShowCalendars]="true"
                (change)="updateChart()"
              />
            </div>
            <div id="col4" class="col-4">
              <form [formGroup]="timeForm">
                <label class="lbl">Time Period</label>
                <select
                  id="time"
                  formControlName="name"
                  (change)="updateChart()"
                >
                  <option disabled>Time Period</option>
                  <option></option>
                  <option *ngFor="let time of timePeriod">{{ time }}</option>
                </select>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <highcharts-chart
        id="containerSc"
        [Highcharts]="Highcharts"
        [constructorType]="chartConstructor"
        [options]="chartOptions"
        [callbackFunction]="chartCallback"
        [(update)]="updateFlag"
        [oneToOne]="true"
        style="width: 100%; height: 350px; display: block"
      >
      </highcharts-chart>
    </div>
  </div>
</div>
