<div class="container-fluid">
  <div class="row">
    <ul style="list-style: none; display: flex">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <p routerLink="/Data" id="id1"> Data </p>
      </li>
      
      <!-- <li [ngClass]="{'active' : route == ''}"><a href="" id = "id1">Data</a></li> -->
      
      <li routerLinkActive="active" class="list">
        <p routerLink="/Connectors" id="id2"> Connectors </p>
      </li >
    </ul>
    <hr style="margin-top: -17px; margin-left: 10px" />
  </div>
</div>
<router-outlet></router-outlet>
