
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-2" > -->

    <ul class="navbar-nav" role="tablist">
      <li class="nav-item" >
                        <a routerLink="/Data" routerLinkActive = "" class="nav-link active" href="#" id="id1"> Data
                             </a>
                       
                      </li>
      <li class="nav-item"> 
        <a data-toggle="pill" role="tab"
          routerLink="/"
          id="id2"
          routerLinkActive="active" 
          class="nav-link active"
          href="#" 
        >
          Connectors
        </a>
        <img id="id3" src="../../assets/images/line2.svg" />
      </li>
    </ul>

    <!-- </div> -->
  </div>
</div>
<router-outlet></router-outlet>
