<div class="container-fluid">
  <div class="row">
    <ul style="list-style: none; display: flex">
      <li>
        <a
          routerLink="Data"
          id="id1"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link active"
          href="#"
          id="id1"
        >
          Data
        </a>
      </li>
      <li class="list">
        <a
          routerLink="/Connectors"
          id="id2"
          routerLinkActive="active"
          class="nav-link active"
          href="#"
        >
          Connectors
        </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
