<div style="width: 100%">
  <button id="btn1" class="btn btn-primary">Connectors's Health</button>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <img id="thumb" [src]="thumb" />
        <p id="p1">Everything is running smoothly</p>
        <p id="p2">All server sides are running smoothly</p>
        <button type="button" class="btn btn-outline-primary">
          Keep me notified
        </button>
      </div>
    </div>
  </div>
  <div class="row" id="cardrow">
    <div class="col-4" *ngFor="let card of dataCard">
      <div class="card" id="cardlayout" style="padding: 0px">
        <div class="card-body" style="padding: 0px">
          <p id="p3">{{ card.title }}</p>
          <div class="row">
            <div class="col-4" id="cardmetrix">
              <p id="p4">
                {{ card.value1 }}
              </p>
              <p id="p5">
                {{ card.subTitle1 }}
              </p>
            </div>
            <div id="cont" class="col-4">
              <p id="p4">
                {{ card.value2 }}
              </p>
              <p id="p6">
                {{ card.subTitle2 }}
              </p>
            </div>
            <img id="cardImg" [src]="card.icon" alt="icon" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    style="display: flex; margin-top: 25px; padding: 0px; margin-right: -12px"
  >
    <div class="col-6">
      <app-linegraph [id]="1"></app-linegraph>
    </div>
    <div class="col-6" style="padding: 0px; margin-left: 10px">
      <app-linegraph [id]="2"></app-linegraph>
    </div>
  </div>
</div>
