<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <img [src]="thumb"
                    style="height: 20px; width: 20px; position:absolute; top: 10px; left: 10px" />
                    <p style="margin-left: 40px; margin-top:10px;font-size: 16px; font-weight:700;">  Everything is running smoothly</p>
                    <p style="margin-left: 40px;  margin-top:10px; font-size: 14px; font-weight:400;">All server sides are running smoothly</p>
                    <button type="button" class="btn btn-outline-primary">Keep me notified</button>
                </div>
            </div>
        </div>
        <div class="row" id = "row2">
            <div class="col-4" *ngFor = "let card of dataCard" >
                <div class="card" id = "card2" style="height: 85px; width: 90%">
                    <div class="card-body" >
                        <p style="font-size: 14px;">{{card.title}} </p>
                        <p style="display: inline; font-size:12px; margin-left: 30px;">{{card.value1}} </p>
                        <p style="display: inline;font-size:12px">{{card.value2}} </p> <br>
                        <p style="display: inline; font-size:12px">{{card.subTitle1}} </p>
                        <p style="display: inline;font-size:12px;">{{card.subTitle2}} </p> 
                        
                        <img [src] = "card.icon" alt="icon" 
                        style="width:75px; height: 75px; position: absolute; bottom: 0px; right: 0px;" />
                    </div>
                </div>
            </div>
        </div>
        <!-- <div style="padding: 0px;"> -->
            <div class="row" id = "row3">
                <div class="col-6">
                    <app-linegraph></app-linegraph>
                </div>
                <div class="col-6">
                    <app-linegraphs></app-linegraphs>
                </div>
                
            <!-- </div> -->
           
            
        </div>
    </div>
</div>