<div class="container-fluid" style="padding: 0px">
  <div class="row" style="padding: 0px">
    <div class="col-1" style="margin-bottom: 10px"><h5>Source</h5></div>
    <div class="col-3">
      <button
        class="btn btn-primary"
        style="
          width: 100px;
          height: 30px;
          margin-left: 110px;
          padding-bottom: 10px;
          font-size: 12px;
          background-color: darkblue;
        "
      >
        Add Sources
      </button>
    </div>
    <div class="col-5"></div>
    <div class="col-1" style="margin-left: -50px; margin-bottom: 10px">
      <h5>Destination</h5>
    </div>
    <div class="col-2">
      <button
        class="btn btn-primary"
        style="
          width: 100px;
          height: 30px;
          margin-left: 100px;
          font-size: 12px;
          padding: 0;
          background-color: darkblue;
        "
      >
        Add Destination
      </button>
    </div>
  </div>
  <div class="row" style="padding: 0">
    <div class="col-5">
      <div *ngIf="source.length >= 2">
        <div *ngFor="let s of source; let i = index">
          <div class="col-12">
            <div class="col-8">
              <div class="card" style="height: 65px; width: 292px">
                <div class="card-body" style="height: 65px">
                  <img
                    [src]="s.logo"
                    style="position: absolute; top: 5px; left: 5px"
                  />
                  <h6
                    style="
                      font-size: medium;
                      position: absolute;
                      left: 50px;
                      top: 5px;
                    "
                  >
                    {{ s.title }}
                  </h6>
                  <p
                    style="
                      font-size: smaller;
                      position: absolute;
                      top: 45px;
                      left: 50px;
                    "
                  >
                    {{ s.description }}
                  </p>

                  <p
                    style="
                      font-size: 12px;
                      position: absolute;
                      top: 0;
                      right: 5px;
                    "
                  >
                    {{ s.value }}K
                  </p>
                  <img
                    [src]="s.userLogo"
                    style="position: absolute; top: 2px; right: 30px"
                  />
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="source.length > 3">
            <div class="div1" style="float: left" *ngIf="i < 2"></div>
            <div class="div2" style="float: left" *ngIf="i == 2"></div>
            <div class="div4" style="float: left" *ngIf="i == 3"></div>

            <div
              class="div3"
              style="float: left"
              *ngIf="i !== source.length - 1 && i > 2"
            ></div>
            <div class="div5" style="float: left" *ngIf="i == 3"></div>
            <div class="div6" style="float: left" *ngIf="i == 3"></div>
          </div>
          <div *ngIf="source.length < 4">
            <div class="div2" style="float: left" *ngIf="i == 0"></div>
            <div class="div4" style="float: left" *ngIf="i == 1"></div>
            <div class="div5" style="float: left" *ngIf="i == 1"></div>
            <div class="div6" style="float: left" *ngIf="i == 1"></div>

            <div
              class="div3"
              style="float: right"
              *ngIf="i !== source.length - 1 && i == 1"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div
        *ngIf="source.length >= 4"
        class="image"
        style="margin-top: 150px; margin-left: 15px"
      >
        <img
          src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/v1499690495/pkzoqurvoufjnoc539rs.jpg"
          style="
            border-radius: 100px;
            height: 123px;
            width: 123px;
            box-shadow: 0 0 10px 24px lightgrey;
          "
        />
      </div>
      <div
        class="image"
        *ngIf="source.length < 4"
        class="image"
        style="margin-top: 10px; margin-left: 14px"
      >
        <img
          src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/v1499690495/pkzoqurvoufjnoc539rs.jpg"
          style="
            border-radius: 100px;
            height: 123px;
            width: 123px;
            box-shadow: 0 0 10px 24px lightgrey;
          "
        />
      </div>
    </div>

    <div class="col-5">
      <div *ngIf="destination.length >= 2">
        <div *ngFor="let d of destination; let i = index">
          <div class="col-12">
            <div class="col-8">
              <div class="card" style="width: 292px; margin-left: 100px">
                <div class="card-body" style="height: 65px">
                  <img
                    [src]="d.logo"
                    style="position: absolute; top: 5px; left: 5px"
                  />
                  <h6
                    style="
                      font-size: medium;
                      position: absolute;
                      left: 50px;
                      top: 5px;
                    "
                  >
                    {{ d.title }}
                  </h6>
                  <p
                    style="
                      font-size: smaller;
                      position: absolute;
                      top: 45px;
                      left: 50px;
                    "
                  >
                    {{ d.description }}
                  </p>

                  <p
                    style="
                      font-size: 12px;
                      position: absolute;
                      top: 0;
                      right: 5px;
                    "
                  >
                    {{ d.value }}K
                  </p>
                  <img
                    [src]="d.userLogo"
                    style="position: absolute; top: 2px; right: 30px"
                  />
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="destination.length > 3">
            <div class="div7" style="float: left" *ngIf="i < 2"></div>
            <div class="div9" style="float: left" *ngIf="i == 2"></div>
            <div class="div10" style="float: left" *ngIf="i == 3"></div>
            <div
              class="div8"
              style="float: left"
              *ngIf="i !== destination.length - 1 && i > 2"
            ></div>
            <div class="div11" style="float: left" *ngIf="i == 3"></div>
            <div class="div12" style="float: left" *ngIf="i == 3"></div>
          </div>
          <div *ngIf="destination.length < 4">
            <div class="div9" style="float: left" *ngIf="i == 0"></div>
            <div class="div10" style="float: left" *ngIf="i == 1"></div>
            <div class="div11" style="float: left" *ngIf="i == 1"></div>
            <div class="div12" style="float: left" *ngIf="i == 1"></div>

            <div
              class="div8"
              style="float: left"
              *ngIf="i !== destination.length - 1 && i == 1"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
