
.col-1{
  padding:0px;
}
.col-2{
  padding:0px;
}
.col-5{
  padding:0px;
}
.col-3{
  padding:0px;
}
.col-4{
  padding:0px;
}
.col-8{
  padding:0px;
}
.col-12{
  padding:0px;
}
.div1 {
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-top: -35px;
  margin-bottom: -85px;
 
  margin-left: 292px;
  width: 50px;
  height: 85px;
  border-top-right-radius: 20px;
}
.div2 {
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-top: -35px;
  margin-bottom: -85px;
  margin-left: 292px;
  width: 50px;
  height: 20px;
  border-top-right-radius: 20px;
}
.div4 {
  border-bottom: 1px solid black;

  border-right: 1px solid black;
  margin-top: -40px;
  margin-bottom: -85px;
  margin-left: 292px;

  width: 50px;
  height: 20px;
  border-bottom-right-radius: 20px;
}

.div3 {
  border-bottom: 1px solid black;

  border-right: 1px solid black;
  margin-top: -35px;
  margin-bottom: -85px;
  margin-left: 292px;
  width: 50px;
  height: 85px;
  border-bottom-right-radius: 20px;
}
.div5 {
  border-left: 1px solid black;

  border-bottom: 1px solid black;
  margin-top: -88px;
  margin-bottom: -100px;
  margin-left: 341px;
  width: 50px;
  height: 29px;
  border-bottom-left-radius: 30px;
}
.div6 {
  border-left: 1px solid black;

  border-top: 1px solid black;
  margin-top: -60px;
  margin-bottom: -100px;
  margin-left: 341px;
  width: 45px;
  height: 26px;

  border-top-left-radius: 30px;
}
/* center to destination */
.div7 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin-bottom: -85px;
  margin-left: 50px;
  margin-top: -35px;
  width: 50px;
  height: 85px;
  border-top-left-radius: 20px;
}
.div8 {
  border-bottom: 1px solid black;

  border-left: 1px solid black;
  margin-top: -35px;
  margin-bottom: -85px;
  margin-left: 50px;
  width: 50px;

  height: 85px;
  border-bottom-left-radius: 20px;
}

.div9 {
  border-top: 1px solid black;

  border-left: 1px solid black;
  margin-top: -35px;
  margin-bottom: -85px;
  margin-left: 50px;
  width: 50px;

  height: 20px;
  border-top-left-radius: 20px;
}
.div10 {
  border-bottom: 1px solid black;

  border-left: 1px solid black;
  margin-top: -40px;
  margin-bottom: -85px;
  margin-left: 50px;
  width: 50px;

  height: 20px;
  border-bottom-left-radius: 20px;
}
.div11 {
  border-right: 1px solid black;

  border-bottom: 1px solid black;

  margin-top: -88px;
  margin-bottom: -100px;
  margin-left: 7px;
  width: 44px;
  height: 29px;
  border-bottom-right-radius: 30px;
}
.div12 {
  border-right: 1px solid black;

  border-top: 1px solid black;
  margin-top: -60px;
  margin-bottom: -100px;
  margin-left: 7px;
  width: 44px;
  height: 28px;

  border-top-right-radius: 30px;
}
