
.card {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.div8{
    border-right:  6px solid black;
    height: 400px;
    position: absolute;
    margin-left: -640px;
    margin-top: 50px;
}
.div1{
    border-left: 6px solid black;
    height: 400px;
    position: absolute;
    margin-left: 350px;
    margin-top: 50px;
}
.div2{
    width: 85px;
    position: absolute;
    margin-left: 270px;
    border-top: 6px solid black;
    margin-top: 50px;
}
.div3{
    width: 85px;
    position: absolute;
    margin-left: 270px;
    border-top: 6px solid black;
    margin-top: 130px;
}
.div4{
    width: 85px;
    position: absolute;
    margin-left: 270px;
    border-top: 6px solid black;
    margin-top: 210px;
}
.div5{
    width: 85px;
    position: absolute;
    margin-left: 270px;
    border-top: 6px solid black;
    margin-top: 290px;
}
.div6{
    width: 85px;
    position: absolute;
    margin-left: 270px;
    border-top: 6px solid black;
    margin-top: 370px;
}
.div7{
    width: 85px;
    position: absolute;
    margin-left: 270px;
    border-top: 6px solid black;
    margin-top: 450px;
}