/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

@import url("https://fonts.googleapis.com/css?family=Nunito:wght@400;600;700;800&display=swap");
html,
body {
  font-family: "Nunito";
}
/* .container-fluid{
  height: 100vh;
  width: 100%;
  background-color: rgba(244, 248, 255, 1);
  padding: 0px;
} */
/* .highcharts-container svg {
  width: 100% !important;
  height: 100% !important;
} */
.highcharts-container
{
  position: absolute;
  width: 100% !important;
 }

  .highcharts-container svg {
     width: 100% !important;
     height: 100% !important;
  }